    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
<section><h2 id="Contact">Find Us At Our New Location!</h2>
	<hr class="bar"/>
<div id="map"></div>
<script>
function initMap() {
	var uluru = {lat: 29.5953986, lng: -98.4728322};
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 13,
		center: uluru
	});
	var marker = new google.maps.Marker({
		position: uluru,
		map: map
	});
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUDZzpTs3Tmjq0ekoEOsYTfBQOuBr-1PA&callback=initMap">
</script>
<h2>16797 San Pedro Avenue</h2>
<hr class="bar"/>
</section>